@page "/userprofile"
@using Microsoft.Extensions.Logging
@inject SingletonServices singleton
@inject NavigationManager NavigationManager

<h3>Profile</h3>
<h4>Name : @singleton.user.Name</h4>
<h4>Surname : @singleton.user.Surname</h4>
<h4>Login : @singleton.user.Login</h4>
<h4>Email : @singleton.user.Email</h4>
  <div class="mb-3">
  <label for="formFile" class="form-label">Image Profile</label>
  <InputFile OnChange="@LoadFiles" multiple />
  <h4>@stringPath</h4>
</div>
<button type="button" class="btn btn-danger" @onclick = "BtnOutput">Output</button>
@code {
    private string stringPath = "";
    private int maxAllowedFiles = 1;
    private void BtnOutput()
    {
        singleton.LogIn = false;
        NavigationManager.NavigateTo("/");
    }

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
        {
            try
            {
                var trustedFileNameForFileStorage = Path.GetRandomFileName();
                var path = Path.Combine(Environment.ContentRootPath,
                        Environment.EnvironmentName, "unsafe_uploads",
                        trustedFileNameForFileStorage);
            }
            catch (Exception ex)
            {
                Logger.LogError("File: {Filename} Error: {Error}", 
                    file.Name, ex.Message);
            }
        }
    }
}
